$main-blue: #1e407c;
$bodyBg: #3a3042;

@import url('https://fonts.googleapis.com/css?family=Roboto');

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("https://www.digitalmga.com/hubfs/Images/DMGA_Skyscrapers_duotone_v1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
}

.form_container {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  margin: 100px;
  width: 60%;
  height: auto;
  background-color: white;
  border: 1px grey solid;
  border-radius: 5px;
  padding: 10px;
}

.accordion-container {
  padding: 50px;
  min-width: 500px;
  margin: 5vh auto;
  border-radius: 5px;
  background-color: #fff;

  div {
    border-bottom: 3px solid;
    transition: border-color 0.5s ease-in;
  }
}

body {
  margin: 0;
}

h1 {
  text-align: center;
  margin-top: 10vh;
  letter-spacing: 10px;
}

h3 {
  margin: 9px;
  display: inline;
  padding: 10px;
}

.answer, .header {
  display: inline-block;
}

.answer {
  padding: 10px;
  background: white;
  border-radius: 5px;
  color: black;
}

.header {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  line-height: 25px;
  padding: 15px;
  width: 100%;
}

.folding-panel {
  display: block;
  transition: all 0.2s ease-in;
  line-height: 40px;
}

.active .header {
  border-color: transparent;
  transition: 0.4s ease-out;
}

.inactive .folding-panel {
  display: none;
  transform-origin: 50% 0%;
  transform: perspective(250px);
  transition: all 0.4s ease-in-out;
  height: 0;

}
.active .folding-panel {
  transform: perspective(350px) rotateX(0deg);
  transition: all 0.4s ease-in-out;
  height: auto;
}

.radio {
  display: inline;
  margin: 10px;
}
